html *
{
   font-size: 2rem !important;
   color: #000 !important;
   font-family: 'Open Sans', sans-serif !important;
}
body {
    background-image: url("./images/bg-desktop.svg");
    background-size: auto;
}