html *
{
   font-size: 2rem !important;
   color: rgb(255, 255, 255) !important;
   font-family: 'Open Sans', sans-serif !important;
}
body 
{
    margin:0;
    padding:60px 80px 40px 80px;
    background-color:#674BB1;
    background-image: url('/images/bg-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:#fff;
    @media screen and (min-width: 640px){
        background-image: url('/images/bg-desktop.svg'); 
        padding: 65px 40px 40px 65px; 
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex:50%;
}
.footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.button {
    background-color: transparent;
    text-align: center;
    margin: 4px 2px;
    display: inline-block;
    padding: 15px 32px;
    color: white;
    border: 1px solid rgb(0, 0, 0);
  }
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: transparent;
    color: white;
  }
  